extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/login") Login
    .navlink
      a(href="/signup") Sign up
  section#signup
    form#signupForm(class="mainForm", name="signupForm", action="/signup", method="POST")
      label(for="username") Username: 
      input#user(type="text", name="username", placeholder="username")
      label(for="pass") Password: 
      input#pass(type="password", name="pass", placeholder="password")
      label(for="pass2") Password: 
      input#pass2(type="password", name="pass2", placeholder="retype password")
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      a#signupSubmit(class="formSubmit", href="#") Sign up
  #domoMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
    img#domo(src="assets/img/domo.png", alt="domo")
block scripts
        script(src="/assets/client.js")